.layout {
  height: 100vh;
  :global {
    .ant-layout-content {
      padding: 16px;
    }
  }
}
.siderBackground {
  background: #fff !important;
}
.trigger {
  padding: 16px 8px;
  font-size: 16px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
